<a href="https://colab.research.google.com/github/Esther-KPA/Analysing-global-debt-using-sql/blob/main/Esther_Learnings_w3s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello, World!")

Hello, World!

In [5]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

In [8]:
if 5 > 2:
  print("Five is greater than two")
  if 5 > 2:
   print("Five is greater than two!")

Five is greater than two
Five is greater than two!

## Comments in Python

In [9]:
#This is a comment
print("Hello Esther!")

Hello Esther!

In [10]:
print("Hello Esther!") #This is a comment

Hello Esther!

In [11]:
#print("Hello Esther")
print("Hello Esther")

Hello Esther

In [12]:
#This is a comment
#Python does not really have a multi-comment
#But this is an example of comment written in more than just one line
print("Learning Comments!")

Learning Comments!

In [16]:
"""
This is a comment in form of multi-string. Python will
ignore string literals that are not assigned to a variable
"""
print("Comments in Python")

Comments in Python

# Variables In Python

In [17]:
#Some examples to practice
x = 5
y = "Esther"
print(x)
print(y)

5
Esther

In [19]:
#Variables do not need to be declared with any particular type
x = 5 #This is of type int
y = "Esther" #This is of type str
print(x)

5

**CASTING**

In [20]:
x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0

print(x,y,z)

3 3 3.0

In [21]:
#You can get the data type of a variable with the type() function

x = 5
y = "Esther"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [22]:
x = "Esther"
# Is the same as
x = 'Esther'
print(x)

Esther

In [25]:
#Variables are case sensitive
a = 4
A = "Esther"
#A will not overwrite a
print(a)

4

**Assigning MULTIPLE Values to multiple variables in one line**

In [26]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#Make sure the number of variables matches the number of values, or else you will get an error.

Orange
Banana
Cherry

**One Value to Multiple Variables**

In [27]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpacking a collection**

In [ ]:
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables.

In [28]:
#Unpack a list

fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Function**

In [29]:
#In the print() function, you output multiple variables, separated by a comma

x = "Print"
y = "Is"
z = "Awesome!"
print(x, y, z)

Print Is Awesome!

In [30]:
x = "Print"
y = "Is"
z = "Awesome!"
print(x + y + z)
#You can also use +

PrintIsAwesome!

In [31]:
x = "Print "
y = "Is "
z = "Awesome! "
print(x + y + z)
#Add a space after the close brackets to make the text readable

Print Is Awesome!

In [32]:
#For numbers + is a mathematical operator
x = 5
y = 10
print(x + y)

15